<!DOCTYPE html>
<html>
{{> headers/header-main }}
<body>
{{> navigation/navigation }}
{{#if error}}
    <div class="alert alert-danger">{{error}}</div>
{{/if}}
{{{body}}}
{{> sidebars/exercise-types-sb }}
{{> sidebars/user-search-sb }}
{{> sidebars/chat-sb }}
{{> modals/alert }}
<div id="root">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4" id="list"></div>
            <div class="col-sm-8" id="detail"></div>
        </div>
    </div>
</div>
{{> footers/footer-main }}
</body>
{{#if user}}
    <script>
        const loggedInUser = {
            _id: '{{user._id}}',
            username: '{{user.username}}'
        };
    </script>
{{/if}}
{{> jsincludes/js-vendors}}
{{> jsincludes/js-popovers-tooltips}}
{{> jsincludes/js-app}}
</html>
