<div id="boardGameSearchSidebar" class="sidebar-left bg-info">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 pb-3 align-items-end">
                <button type="button" class="close text-white" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div style="height:90%" class="col-12">
                <div class="card">
                    <div id="commentHeader" style="font-size: 10pt" class="card-header">
                        <form class="form-inline d-flex justify-content-between" id="bggSearch">
                            <div class="align-self-center" >
                                <input type="text" class="form-control form-control-sm"  id="queryText" placeholder="Enter query">
                            </div>
                            <div style="width: 25%">
                                <button type="submit" class="btn btn-primary btn-sm"  id="bggSearchButton">
                                    Search
                                </button>
                            </div>
                        </form>
                    </div>
                    <div class="card-body scroll-bgg-search">
                        <div id="bggSearchResults" class="list-group list-group-flush">
                        </div>
                    </div>
                    <div class="card-footer">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>