<div id="chatSideBar" class="sidebar-right bg-dark">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 pb-3 align-items-end">
                <button type="button" class="close text-white" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="col-12">
                <div class="card">
                    <div class="card-header"><h5>Chat Logs</h5></div>
                    <div class="card-body scroll-chatlogs">
                        <div id="chatLogs" style="font-size: 12pt" class="list-group list-group-flush">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 mt-2">
                <div class="card">
                    <div class="card-header d-flex justify-content-between">
                        <input type="text" style="width:80%" placeholder="Add user" id="chatFastSearchUserNames" data-source="fastSearchUserNames">
                        <button type="submit" class="btn btn-warning btn-circle btn-md" id="leaveChat"><i class="fas fa-sign-out-alt"></i></button>
                    </div>
                    <div class="card-body room" id="chatLogRoom">
                        <div id="chatLog" class="messages">
                        </div>
                    </div>
                    <div class="card-footer">
                        <form class="d-flex justify-content-between" id="newMessage">
                            <input type="text" style="width:80%" class="align-self-center enter-message" id="message"
                                   placeholder="Enter message" >
                            <button type="submit" class="btn btn-primary btn-circle btn-md" id="submitMessage"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>