<div id="exerciseTypesSidebar" class="sidebar-left bg-dark">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 pb-3 align-items-end">
                <button type="button" class="close text-white" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="col-12">
                <div class="card" id="exerciseTypesContainer">
                    <div class="card-header">Exercises</div>
                    <div class="card-body scroll-exercise-type-list">
                        <div id="exerciseTypes" class="list-group list-group-flush">
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="d-flex justify-content-end">
                            <button type="submit" class="btn btn-primary" id="addNewExerciseType">Add New Exercise Type&nbsp;<i class="fas fa-dumbbell" aria-hidden="true"></i>&nbsp;<i class="fas fa-running" aria-hidden="true"></i></button>
                        </div>
                    </div>
                </div>
                <div class="card mt-3" id="exerciseTypeContainer">
                    <div class="card-body scroll-exercise-type-detail">
                        <div id="exerciseTypeDetail">
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>