<ul id="navigation" class="mbsc-cloak">
    <li id="navigationItemExerciseTypes">Exercises <i class="fas fa-star"></i></li>
    <li id="navigationItemWorkoutSummary">Workout Summary <i class="fas fa-chart-line"></i></li>
    <li id="navigationItemCurrentWorkout">Current Workout <i class="fas fa-clipboard-list"></i></li>
    <li id="navigationItemUserSearch">User Search <i class="fas fa-search"></i></li>
    <li id="navigationItemChat">Chat <i class="fas fa-inbox"></i></li>
    <div class="mbsc-padding">
        <ul id="submenu" class="mbsc-cloak">
            <li data-icon="fas fa-user-plus" id="navigationItemRegister">Register <i class="fas fa-user-plus"></i></li>
            <li data-icon="fas fa-sign-in-alt" {{#if user}}disabled{{/if}} href="/login" id="navigationItemRegister">Login <i class="fas fa-sign-in-alt"></i></li>
            <li data-icon="fas fa-sign-out-alt" {{#if user}}{{else}}disabled{{/if}} href="/logout" id="navigationItemLogout" >Logout <i class="fas fa-sign-out-alt"></i></li>
        </ul>
    </div></ul>
</div>
<div id="notifications" class="notifications"></div>